body{background-color: white;}
h1{color: white; background-color: blue; text-align: center; font-size: 50px}
h2{color: blue; text-align: center; font-size: 40px}
.logo{text-align: center;}
.imageqc{text-align: center;}
.imagecampus{text-align: center}
.Carnaval{text-align: center}
p{text-align: center;font-size: 25px}
table{width: 250px;margin: 0 auto;text-align: center;font-size: 20px}
